
</div>

<div class="container mt-4 pt-5 border-top">
  <footer>
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>
      Forum web-site
      &middot;
      <a href="/userlist">List of Users</a>
      &middot;
      <a href="https://github.com/legonian/nodejs-forum-site">GitHub</a>
    </p>
  </footer>
</div>
</body>
</html>