
</div>
<footer class="mt-4 text-center">
  <p>
    Blogging web-site
    &middot;
    <a id="UserList" href="/userlist">
      List of Users
    </a>
    &middot;
    <a href="https://github.com/legonian/nodejs-forum-site">
      GitHub
    </a>
  </p>
  <a href="#">Back to top</a>
</footer>
</body>
</html>