<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>JS layout</title>
</head>
<body>
    <header class="header">
        <div class="container">
            Header gonna be here
        </div>
    </header>

    <!-- Основная секция  -->


    <div class="forum-section">
        <div class="container">
            <div class="forum-header forum-header-modifier">
                <div class="forum-name">Main forums</div>
                <div class="forum-topic-number">Topics</div>
                <div class="forum-posts">Posts</div>
                <div class="forum-last-post">Last post</div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href="">Lorem, ipsum dolor.</a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href="">Lorem, ipsum dolor.</a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href=""><a href="">Lorem, ipsum dolor.</a></a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
        </div>  
    </div>


<!--     Дополнительная секция -->


    <div class="forum-section">
        <div class="container">
            <div class="forum-header forum-header-modifier">
                <div class="forum-name">Custom forums</div>
                <div class="forum-topic-number">Topics</div>
                <div class="forum-posts">Posts</div>
                <div class="forum-last-post">Last post</div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href=""><a href="">Lorem, ipsum dolor.</a></a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                    <span class="forum-last-post-name">
                        Legonian
                    </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
            <div class="forum-topic">
                <div class="forum-name">
                    <span class="suptitle">
                        <a href="">Lorem, ipsum dolor.</a>
                    </span><br>
                    <span class="subtitle subtext">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </span>
                </div>
                <div class="forum-topic-number">10</div>
                <div class="forum-posts ">33</div>
                <div class="forum-last-post">
                    <div class="last-post-icon"></div>
                        <span class="forum-last-post-name">
                        Legonian
                        </span> <br>
                    <span class="forum-last-post-timestamp subtext">
                        Mar 12, 2017, 17:45
                    </span>
                </div>
            </div>
        </div>  
    </div>


    <!-- Подвал где-то тут  -->
    
    
    <!--     Подключение скрипта JS-->
    <script>console.log("<%= name %>")</script>
    <script type="text/javascript" src="/javascripts/main.js" ></script>
</body>
</html>

