
<header class="header">
  <div class="header-container">
    <div class="wrapper">
      <% if (nickname) { %>
        <a id="username" href="/profile"><%= nickname %></a>
        <a id="log_out" href="/log_out">Log out</a>
      <% } else {%>
        <a id="sign_up">Sign Up</a>
        <a id="log_in">Log In</a>
      <% }%>
    </div>
  </div>
</header>

<div class="modal-background">
  <div class="modal-login">
    <div class="wrap">
      <form action="" method="post" class="login-form">

        <input name="username" type="text" placeholder="Enter login" class="input" maxlength="20" required>
        <span class="login-validation input-validation"></span>

        <input name="password" type="password" placeholder="Enter password" class="input" maxlength="60" minlength="8" required> 
        <span class="password-validation input-validation"></span>

        <input name="first_name" type="text" placeholder="Enter Name" class="input on_sign_up" maxlength="30" required> 
        <span class="login-validation input-validation on_sign_up"></span>

        <input type="submit" value="" id="submit" class="input">
        <span class="modal-close">Close</span>

      </form>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/header.css">
<script src="/javascripts/header.js"></script>
