

<header class="header">
        <div class="header-container">
           <div class="wrapper">
                <a id="sign-in">Sing In</a>
                <div class="btn"></div>
           </div>
        </div>
    </header>

    <div class="modal-background">
        <div class="modal-login">
            <span class="modal-close">&#10005;</span>
            <form action="/login" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>

                <div>
                    <label for="pass">Password (8 characters minimum):</label>
                    <input type="password" id="pass" name="password"
                           minlength="8" required>
                </div>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>

<link rel="stylesheet" href="/stylesheets/header.css">
<script src="javascripts/header.js"></script>
