    <header class="header">
        <div class="container">
           <div class="wrapper">
                <a id="signIn" class="sign-in">Sing In</a>
                <div class="btn"></div>
           </div>
        </div>
    </header>

    <div class="modal-background">
        <div class="modal-login">
            <span class="modal-close">&#10005;</span>
            <form action="" method="post">
                Enter login
                <input type="login"> <br>
                Enter password
                <input type="password"> <br>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>
    <script src="/javascripts/header.js"></script>