<%- include('header', {pageTitle: 'Home Page'}) %>

<!-- <div class="forum-section">
    <div class="container">
        <div class="forum-header forum-header-modifier">
            <div class="forum-name mod">Main forums</div>
            <div class="forum-topic-number mod">Topics</div>
            <div class="forum-posts mod">Posts</div>
            <div class="forum-last-post mod">Last post</div>
        </div>
        <div id="topic"></div>
    </div>
</div> -->

<div class="container"><%- include('main_post') %></div>

<script id="data_js" type="application/x-configuration"><%- topics%></script>
<script src="/javascripts/main.js"></script>

<%- include('footer') %>
