<%- include('header', {pageTitle: 'Home Page'}) %>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mw-10">
  <h1 class="display-4">Forum</h1>
  <p class="lead">Here you can create your own blog post. To do it just simply
    sign up and start writing in markdown editor.</p>
</div>

<div>
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    Pinned Posts
  </h3>

  <div>
    <h2>Example Post Title</h2>
    <p><%=(new Date).toLocaleDateString('en-GB')%> by <a href="#">Anonymous</a></p>
    <p>Here you can see the example post text that can be created after
      registration.</p>
    <p>Blogs are written in markdown and </p>
  </div>
</div>

<%- include('footer') %>
