<div class="post">
  <div class="wrap">
    <div class="post-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, amet?
    </div>
    <div class="post-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates architecto quis similique, itaque harum, voluptatum veritatis quas, repudiandae enim vitae nostrum quaerat blanditiis numquam magnam quisquam voluptatem id ipsam! Quas ad vitae animi, omnis reiciendis iure doloribus libero nam incidunt laudantium facilis repellat, sint placeat ipsa dignissimos aliquam error alias. </p>
        <img src="https://loremipsum.io/assets/images/lorem-ipsum-generator-custom-placeholder-text.jpg" alt=""> Temporary img just to show functionality
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae reiciendis incidunt officiis eos architecto. Unde corrupti in facere velit aut aperiam aspernatur nisi totam porro, sint cupiditate qui dolorum voluptates? Dolorum vitae modi possimus blanditiis totam, magnam ducimus beatae quia dolore quam alias explicabo sed laboriosam perspiciatis laborum quisquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eligendi dolore corporis quos voluptates id, quae delectus quod nulla iusto amet nihil reprehenderit perspiciatis voluptatibus quidem repellendus? Hic iusto facilis, repellat soluta aperiam maxime vero perferendis expedita, debitis dignissimos fugit mollitia sit odio consequuntur! A placeat aliquam aperiam possimus quasi.</p>
    </div>
  </div>
  <div class="post-footer">
    <div class="activities">
        <a class="like icon">Like</a>
        <a class="comment icon">Comment</a> 
        <a class="share icon">Share</a>
        <!-- These links might be substituted with icons -->
    </div>
    <div class="post-info">
        <span class="timestamp">27.09.2020</span> by
        <a class="author" href="/profile">Marcus Aurelius</a>
    </div>
  </div>
</div>
