<%- include('header', {pageTitle: 'Messages'}) %>

<div class="container">
  <div class="messenger-desktop">
    <div class="contacts">
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
      <div class="contact">
        <div class="icon">
          <img src="" alt="">
        </div>
        <div class="contact-info">
          <span class="contact-name contact-item">Tomas Eddison</span>
          <span class="short-discription contact-item">Lorem ipsum dolor sit ametaa.</span>
        </div>
        <div class="contact-edit">⋮</div>
      </div>
    </div>
    <div class="chat">
      <div class="chat-header">
        <span class="contact-name">Tomas Eddison</span>
      </div>
      <div class="messages">
        <div class="incomming-message message">
          <span class="message-text">Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Pariatur asperiores, quaerat fuga quia quod exercitationem quidem odio earum explicabo, fugiat nihil?
            Maxime possimus error reiciendis quis eveniet blanditiis officia hic laborum veniam, molestias, iure
            aliquam. Eius praesentium molestiae ad quaerat libero odio accusamus, perspiciatis, adipisci officiis
            doloribus id eaque vel.</span>
        </div>
        <div class="outgoing-message message">
          <span class="message-text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Est similique at debitis voluptatibus earum cupiditate exercitationem pariatur corporis doloribus,
            totam excepturi vel architecto, harum laborum ducimus quae minima quas maiores optio illo necessitatibus nam
            quam perferendis cum. Velit, perferendis vitae eaque, corrupti tenetur autem blanditiis repellat esse
            dolores dignissimos nesciunt!</span>
        </div>
        <div class="incomming-message message">
          <span class="message-text">Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Pariatur asperiores, quaerat fuga quia quod exercitationem quidem odio earum explicabo, fugiat nihil?
            Maxime possimus error reiciendis quis eveniet blanditiis officia hic laborum veniam, molestias, iure
            aliquam. Eius praesentium molestiae ad quaerat libero odio accusamus, perspiciatis, adipisci officiis
            doloribus id eaque vel.</span>
        </div>
        <div class="outgoing-message message">
          <span class="message-text">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Est similique at debitis voluptatibus earum cupiditate exercitationem pariatur corporis doloribus,
            totam excepturi vel architecto, harum laborum ducimus quae minima quas maiores optio illo necessitatibus nam
            quam perferendis cum. Velit, perferendis vitae eaque, corrupti tenetur autem blanditiis repellat esse
            dolores dignissimos nesciunt!</span>
        </div>
      </div>
      <div class="write-message">
        <div class="textarea">
          <textarea name="" id="" cols="0" rows="0" placeholder="Type something to send" onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Type something to send'"></textarea>
        </div>
        <input type="submit" value="Send" class="sendMessage btn">
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>