<%- include('header', {pageTitle: 'New Post'}) %>

<div class="container">
  <form action="/post/upload" method="post">
    <div class="post-builer">
      <div class="post-title">
        <input name="title" type="text" class="post-heading" placeholder="Enter post title here">
      </div>
      <div class="post-body">
        <textarea name="content" type="text" cols="" rows="" class="textarea post-heading" placeholder="Enter post text here" id="postBody"></textarea>
      </div>
      <input type="submit" value="Post" class="postButton">
    </div>
  </form>
</div>

<script src="/javascripts/simplemde.min.js"></script>
<script src="/javascripts/newpost.js"></script>

<%- include('footer') %>