<%- include('header', {pageTitle: 'New Post'}) %>

<div class="container mt-4 mb-4">
  <h2>Creating Post</h2>
  
  <form action="/p/upload" method="post">
    <div class="input-group mb-4 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <input name="title" type="text" class="form-control">
    </div>
    <textarea name="content" type="text" placeholder="Enter post text here"
      id="postBody"></textarea>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success col-4">Save</button>
    </div>
    
  </form>
</div>

<script src="/javascripts/simplemde.min.js"></script>
<script src="/javascripts/newpost.js"></script>

<%- include('footer') %>