<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Profile</title>
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <div class="profile-card">
            <div class="img"></div>
            <span class="profile-name"><%=name%></span>
            <div class="metrics">
                <div class="posts metrics-bar"><%=post%></div>
                <div class="country metrics-bar">Ukraine</div>
                <div class="rating metrics-bar">26 rating</div>
            </div>
        </div>
    </div>
</body>
</html>