<%- include('header', {pageTitle: 'Settings'}) %>

<div class="container">
  <h2 class="my-4">User Settings</h2>
  
  <% x = {'Username':'example','Email address':'example@example.com','First Name':'Name', 'Country':'Uganda'} %>
  <% for (const [key, value] of Object.entries(x)) { %>
    <div class="row mt-3 border-bottom border-gray">
      <div class="col-10 text-muted">
        <p class="font-weight-bold mb-0">
          <%= key %>
        </p>
        <p class="mb-2">
          <%= value %>
        </p>
      </div>
      <button type="button" class="btn btn-secondary col-2 my-2">Change</button>
    </div>
  <% } %>

  <div class="row mt-3 border-bottom border-gray">
    <div class="col-10 text-muted">
      <p class="font-weight-bold mb-0">
        Delete Your Account
      </p>
      <p class="mb-2">
        Username
      </p>
    </div>
    <button type="button" class="btn btn-danger col-2 my-2">Delete</button>
  </div>
</div>

<%- include('footer') %>