<%- include('header', {pageTitle: 'Messages'}) %>

<script src="/javascripts/messaging.js" defer></script>

<div class="row border">
  <div id="user-panel" class="col overflow-hidden bg-light border-right px-0">
    <h5 class="border-bottom p-3">List of Users</h5>
    <div id="messages-friendlist"></div>
  </div>

  <div id="chat-panel" class="col-8 d-none d-md-block px-0">

    <div id="chat-header" class="row border-bottom mx-0 bg-light" hidden>
      <button id="back-button" class="btn btn-outline-dark ml-2 mr-auto my-auto">&lt; Back</button>
      <h5 class="col text-center p-3 my-0"></h5>
    </div>

    <div id="messages-chat" class="m-3"></div>

    <div class="input-group" id="message-input-box">
      <input type="text" class="form-control mb-3 ml-3" placeholder="Type your message here" id="message-input">
      <div class="input-group-append mb-3 mr-3">
        <button id="send" class="btn btn-outline-secondary" type="button">Send</button>
      </div>
    </div>

  </div>
</div>

<%- include('footer') %>
