<%- include('header', {pageTitle: 'Messages'}) %>

<div class="row">
  <nav class="d-none d-md-block sidebar border-right col-3 px-0">
    <div class="nav-item border-bottom py-4">
      <h3 class="ml-3">List of Friends</h3>
    </div>
    <ul class="nav flex-column">
      <% friendlist = ['User1', 'User2', 'User3'] %>
      <% friendlist.forEach(friend => { %>
      <li class="nav-item border-bottom">
        <a href="#">
          <h3 class="ml-3 my-2"><%= friend %></h3>
        </a>
      </li>
    <% }) %>
    </ul>
  </nav>
  <div class="col-9 py-4 px-3">
    <h3>This Page is in Development</h3>
  </div>
</div>

<%- include('footer') %>