<%- include('header', {pageTitle: 'Messages'}) %>

<script src="/javascripts/messaging.js" defer></script>

<div class="d-flex border">
  <div class="overflow-hidden bg-light border-right w-25">
    <h5 class="border-bottom p-3">List of Users</h5>
    <div class="messages-friendlist"></div>
    </div>

    <div class="w-75 p-3 d-flex flex-column">
      <div class="messages-chat"></div>
      <div class="input-group mt-auto" id="message-input-box">
        <input type="text" class="form-control" placeholder="Type your message here" id="message-input">
        <div class="input-group-append">
          <button id="send" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>