.container {
    max-width: 970px;
    margin: 0 auto;
}

.post-builer {
    border: 1px solid lightgrey;
    padding: 30px;
}

input, textarea {
    border: 1px solid lightgrey;
    
}

.post-heading {
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    height: 30px;
}

.post-builer textarea {
    
    min-height: 300px;
    resize: none;
 
}

.postButton {
    height: 30px;
    width: 100%;
    outline: none;  
}

.postButton:active {
    background-color: #C0C0C0;
}