.post {
    max-width: 970px;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 3%;
}

.post .wrap {
    padding: 10px;
}

.post .post-title {
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.post-body img {
    max-width: 100%;
    margin: 10px 0px;
    max-height: 1000px;
}
.post-footer {
    display: flex;
    border-top: 1px solid lightgrey;
    justify-content: space-between;
    padding: 5px 5px;
}

.post-footer .activities {
    display: flex;
}
.post-footer .activities a {
padding: 0px 3px;
}

.post-footer .icon {
    display: block;
}