* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    height: 100%;
}

.profile-card {
    display: flex;
    padding: 20px;
    max-width: 100%;
    min-height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);   
}

.profile-img img {
    width: 250px;
    height: 250px;
    background-color: grey;
    border-radius: 50%;
}

.profile-name {
    display: block;
    text-align: center;
}

.metrics {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.metrics-bar {
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}

@media (max-width:450px) {
    .metrics {
        flex-direction: column;
    }
}